absl-py==0.13.0
asttokens==2.0.5
astunparse==1.6.3
backcall==0.2.0
cached-property==1.5.2
cachetools==4.2.2
certifi==2021.5.30
Flask==2.0.1
Flask-Login==0.5.0
Flask-SQLAlchemy==2.5.1
gunicorn==20.1.0
h5py==3.1.0
importlib-metadata==4.5.0
ipykernel==6.9.2
ipython==8.1.1
Jinja2==3.0.1
joblib==1.0.1
keras==2.8.0
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
libclang==13.0.0
numpy==1.22.3
oauthlib==3.1.1
opencv-contrib-python==4.5.4.60
opencv-python==4.5.4.60
openpyxl==3.0.7
pandas==1.2.5
Pillow==8.2.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
Pygments==2.11.2
pyparsing==2.4.7
python-dateutil==2.8.1
scikit-learn==0.24.2
scipy==1.7.0
sklearn==0.0
SQLAlchemy==1.4.10
stack-data==0.2.0
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.8.0
tensorflow-estimator==2.6.0
tensorflow-gpu==2.8.0
tensorflow-io-gcs-filesystem==0.24.0
termcolor==1.1.0
tf-estimator-nightly==2.8.0.dev2021122109
