{% extends "base.html" %} {% block title %}Home Page{% endblock %} {% block
    content %}
<div>
    <h1>Plant Classification</h1><br>
    <h2>Who are we</h2><br>
    <p>This site is the product of a final project in software engineering studies.<br>
        The purpose of the site is to show that it is possible to create a machine learning model for forecasting desert plants that grow in a desert climate.
        <br>this project created by <strong>Dor Rozenhak and Shuli Kraus.</strong><br><br>
    For any question please contact us and we will be happy to help.</p>
</div>
{% endblock %}
