<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
  </head>
  <body>
    <form method="post">
      <div
        class="conteiner"
        style="
          position: fixed;
          padding: 0;
          margin: 0;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: #f8f8f8;
          overflow: auto;
        "
      >
        <div class="image" style="justify-content: center; display: flex">
          <img src="../static/unknown.png" style="width: 30%" />
        </div>
        <div
          class="email"
          style="display: flex; justify-content: center; align-items: center"
        >
          <p
            style="
              width: 240px;
              height: 59px;
              font-family: Roboto;
              font-style: normal;
              font-weight: normal;
              font-size: 50px;
              line-height: 59px;
            "
          >
            Email
          </p>
          <input
            type="email"
            name="email"
            placeholder="Enter Email"
            style="width: 636px; height: 59px; font-size: 35px"
          />
        </div>
        <div
          class="password"
          style="display: flex; justify-content: center; align-items: center"
        >
          <p
            style="
              width: 240px;
              height: 59px;
              font-family: Roboto;
              font-style: normal;
              font-weight: normal;
              font-size: 50px;
              line-height: 59px;
            "
          >
            Password
          </p>
          <input
            type="password"
            name="password"
            placeholder="Enter Password"
            style="width: 636px; height: 59px; font-size: 35px"
          />
        </div>
        <div
          class="passwordconf"
          style="display: flex; justify-content: center; align-items: center"
        >
          <p
            style="
              width: 240px;
              height: 59px;
              font-family: Roboto;
              font-style: normal;
              font-weight: normal;
              font-size: 50px;
              line-height: 59px;
            "
          >
            Confirm Password
          </p>
          <input
            type="password"
            name="passwordconfirm"
            placeholder="Re-enter Password"
            style="
              width: 636px;
              height: 59px;
              margin-top: 70px;
              font-size: 35px;
            "
          />
        </div>
        <div
          style="display: flex; justify-content: center; align-items: center"
        >
          {% with messages = get_flashed_messages() %} {% if messages %} {% for
          message in messages %}
          <p style="font-size: 23px; color: red">{{ message }}</p>

          {% endfor %} {% endif %} {% endwith %}
        </div>
        <div
          class="buttons"
          style="
            display: grid;
            justify-content: center;
            align-items: center;
            gap: 15px;
            margin-top: 20px;
          "
        >
          <div class="create">
            <input
              type="submit"
              value="Create Account"
              style="
                width: 972px;
                height: 79px;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 50px;
                line-height: 59px;
              "
            />
          </div>
          <div class="facebook">
            <input
              type="submit"
              value="Continue with Facebook"
              style="
                width: 972px;
                height: 79px;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 50px;
                line-height: 59px;
                background: #605fa4;
              "
            />
          </div>
          <div class="google">
            <input
              type="submit"
              value="Continue with Google"
              style="
                width: 972px;
                height: 81px;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 50px;
                line-height: 59px;
                background: #c74a4a;
              "
            />
          </div>
        </div>
      </div>
    </form>
  </body>
</html>
